<%= render "/profiles/partials/filters" %>

<% if @profiles.present? %>
    <p id="notice"><%= notice %></p>
    <% @profiles.each do |profile| %>
    <div class="authorFooter">
    <% image_user = profile.image.present? ? profile.image : '/assets/img/user2-160x160.png' %>
        <%= image_tag image_user, style: 'height:73px;width:73px;' %>
        <div class="authorInfo">
        <p class="authorName"><%= profile.name %></p>
        <p class="authorLink"><%= image_tag image_user, style: 'height:450px;width:600px;' %></p>
        </div>
    </div>
    <% end %>
    <div class="button_right">
        <%= submit_tag "Seguir", class: "btn btn-primary" %>
    </div>
    Seguindo | Seguidores
    <%= render "/profiles/partials/list_post_user" %>
<% else %>
    <p class="authorName">Não houve resultados para sua busca.</p>
<% end %>