<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<%= stylesheet_link_tag '/assets/login.css', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {class:"box"}) do |f| %>
                    <h1>Login</h1>
                    <p class="text-muted"> Please enter your login and password!</p> 
                    <%= f.email_field :email, autofocus: true, autocomplete: "email",
                        id: "login", class:"fadeIn second form-control", 
                        placeholder:"login", type:"text" %>
                    <%= f.password_field :password, autocomplete: "current-password",
                        id: "password", class:"fadeIn second", placeholder:"password", type:"password" %>

                    Forgot password?</a> <input type="submit" name="" value="Login" href="#">
                    <div class="col-md-12">
                        <ul class="social-network social-circle">
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <%= render "devise/shared/links" %>
                        </ul>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
