<%= render "/posts/form", post: @post %>

<p id="notice"><%= notice %></p>
<% @posts.each do |post| %>
  <div class="authorFooter">
   <% image_user = get_image_user(post.user.image, 'img_user') %>
   <% front_user = get_image_user(post.image, 'front_user') %>
    <%= image_tag image_user, style: 'height:73px;width:73px;' %>
    <div class="authorInfo">
      <p class="authorName"><%= post.user.name %></p>
      <p class="authorLink"><%= image_tag front_user, style: 'height:450px;width:600px;' %></p>
      <p class="authorBody"><%= post.information %></p>
    </div>
  </div>

<% end %>
<br>
